@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Dancing Script", cursive;
  font-size: 1.5rem;
  background-color: rgba(225, 236, 246, 0.778);
}

/* Navbar */
.logo {
  display: flex;
  justify-content: center;
}

.wrapper {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.grid-nav {
  text-align: center;
}

/* Links */
a {
  text-decoration: none;
  color: black;
}

a:hover {
  background-color: rgb(188, 188, 230);
  border: 1px solid black;
  border-radius: 25px;
  padding: 5px;
}

/* Main */
/* Work */
/* Prices */
/* About Us */
/* Footer */
